/* GENERIC STYLES 
-------------------------------------------- */
.typography * {
    font-size: 1em;
}

/* LIST STYLES 
-------------------------------------------- */
.typography ul, 
.typography ol {
    margin: 0 0 18px 24px;
}
.typography li {
    margin: 0 0 0.5em 0;
}
		
/* HEADER STYLES 
-------------------------------------------- */
.typography h1 {
    font-size: 1.8em;
}
.typography h2 { 
    font-size: 1.6em;
}
.typography h3 {
    font-size: 1.4em;
}
.typography h4 {
    font-size: 1.2em;
}
.typography h5 {
    font-size: 1em;
}
.typography h6 {
    font-size: 0.9em;
}

/* PARAGRAPHS 
-------------------------------------------- */
.typography p {
    font-size: 0.9em;
}

/* WYSIWYG EDITOR ALIGNMENT CLASSES 
-------------------------------------------- */
.typography .left {
    text-align: left;
}
.typography .center {
    text-align: center;
}
.typography .right {
    text-align: right;
}

/* IMAGES 
-------------------------------------------- */
.typography img {
    border: none;
}
.typography img.right {
    float: right;
    margin-left: 20px;
}
.typography img.left {
    float: left;
}
.typography img.leftAlone {
    float: left;
    margin-right: 100%;
}
.typography img.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
